a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}

.footer {
    background-color: black;
}


@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

    body, p { 
  padding: 0; 
  margin: 0; 
  font-family : 'PT Sans'; 
  font-weight : 300;
  font-size: 18px;
  margin-top: 100px;
  line-height: 28px;
}

h1 { 
  font-size: 36px; 
  line-height: 42px; 
  font-family : 'Oswald'; 
  font-weight : 400; 
}

h2 { 
  font-size: 30px;
  line-height: 36px; 
  font-family : 'PT Sans Narrow';
  font-weight : 300;
}

#header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #fff;
  border-bottom:1px solid #ccc;
}

#logo { 
  float: left; 
  width: 130px; 
}

.logo {
  font-size: 36px;
  line-height: 100px;
  padding:0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

#navigation { 
  display: block; 
  margin-left: 130px; 
  text-align: right;
  margin-top: 20px;
}

#mainnav { font-size: 0px; }

#mainnav li { 
  display: inline-block;
  font-size: 22px;
  margin: 15px;
}

#mainnav li:last-child { margin-right: 0px; }

#mainnav li a {
  text-decoration: none;
  color: #333;
}

#mainnav li a:hover {
  color: #999;
}

.double-space { height: 150px; }

.section { 
  min-height: 700px;
  overflow: hidden;
}

.darker { background-color : #333; }
.lighter { background-color : #fff; }

#About { }
#Services { background : url(bg.png) 50% 0 repeat fixed;  }
 
.centered-wrapper { margin: 0 auto; text-align: center; max-width: 1250px; overflow: hidden; }

.section.darker h1 { color: #fff; }
.section.darker h2 { color: #ccc; } 
.section.darker p  { color: #fff; }

.section.lighter h1 { color: #333; }
.section.lighter h2 { color: #555; }
.section.lighter p  { color: #333; }

.section p.box { text-align: left; }

.section .box { 
  background-color: rgba(0,0,0,0.2); 
  border: 1px solid rgba(0,0,0,0.2); 
}

.box { 
  padding: 25px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-icon { 
  display:none;  
  position: absolute;
  width: 24px;
  height: 24px;
  background:url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/menu-24-32.png) left top no-repeat;
  -webkit-background-size:100%;
  -moz-background-size:100%;
  -ms-background-size:100%;
  -o-background-size:100%;
  background-size:100%;
  right: 0px;
  top:40px;
  cursor:pointer;
}


@media only screen and (max-width:319px) {
  .centered-wrapper { width: 94% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -3%;
    text-align: left;
  }
  
  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px;  }
}

@media only screen and (min-width:320px) and (max-width:479px) { 
  .centered-wrapper { width: 94% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -3%;
    text-align: left;
  }
  
  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px; }
}

@media only screen and (min-width:480px) and (max-width:767px) {
  .centered-wrapper { width: 96% !important; }
  #navigation { 
    display: none; 
    width: 100%;
    top: 81px;
    background: #e9e9e9;
    position: absolute;
    z-index:9999;
    margin-left: -2%;
    text-align: left;
  }
  
  #mainnav { 
    padding : 0px;
    margin : 0px; 
  }
  
  #mainnav li { 
    display: block;
    border-bottom : 1px solid #ccc;
    padding: 0 !important;
    margin: 0px; 
  }
  
  #mainnav li:last-child {
    border-bottom: 0px;
  }
  
  #mainnav li a {
    color:#333;
    padding: 10px 15px;
    display: block;
    margin: 0px !important;
  }
  #mainnav li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .menu-icon { display:block !important; right: 20px; }
}

@media only screen and (min-width:768px) and (max-width:1023px) { 
  .centered-wrapper { width: 96% !important; }
}

@media only screen and (min-width:1024px) and (max-width:1279px) { 
  .centered-wrapper { width: 96% !important; }
}

@media only screen and (min-width:1280px) { 
  .centered-wrapper { width: 1250px !important; }
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.slider_container {
  margin: 30px auto;
  width: 400px;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  background-color: #f5f5f5;
}
.slider_container:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 100%;
  height: 100%;
  background-image: url("http://blog.shihshih.com/wp-content/uploads/2018/08/image1.png");
  animation: bk 25s linear;
}
.slider_container div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  width: 100%;
  -webkit-animation: round 25s linear infinite;
  animation: round 25s linear infinite;
}
.slider_container div img {
  width: 100%;
}
@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 0 - 1秒 滑入*/
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 0;
    /* 1- 5秒靜止*/
  }
  24% {
    opacity: 1;
    filter: alpha(opacity=100);
    left: -100%;
    /* 5-6秒滑出*/
  }
  26% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: -100%;
    /* 6-6.5秒變透明*/
  } 
  28% {
    opacity: 0;
    filter: alpha(opacity=0);
    left: 100%;
    /* 6.5-7秒回到起始位置*/
  } 
}
@keyframes bk {
  0% {
    left: 0;
    /* 初始位置*/
  }
  4% {
    left: -100%;
    /* 0 - 1秒 滑出*/
  }   
}

@keyframes bk {
  0% {
    left: 0;
    /* 初始位置*/
  }
  4% {
    left: -100%;
    /* 0 - 1秒 滑出*/
  }  
}
.slider_container div:nth-child(5) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slider_container div:nth-child(4) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.slider_container div:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.slider_container div:nth-child(2) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
.slider_container div:nth-child(1) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.rwd_slider_container_wrapper {
  margin: 30px auto !important;
  width: 80%;
  height: 50%;
}
.rwd_slider_container {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 70%;
  box-sizing: border-box;
}
.rwd_slider_container .slider_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}